{% load cms_tags sekizai_tags %}
<div class="panel">
<div class="notifications-plugin">
    <div class="panel-heading">
    <h3 class="panel-title">അറിയിപ്പ് </h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for notification in notifications %}
            <li><a href="{% page_url notification.pk %}">{{ notification }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>

{% addtoblock "css" %}
<style>
ul.notifications {
    padding-left: 1.4em;
    border: 2px solid black;
    margin-right: 50px;
}
</style>
{% endaddtoblock %}
