.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.navbar-dark {
  background: linear-gradient(to bottom, #0083cb, #0269a3); }

.navbar-dark .navbar-nav > li > a {
  color: white; }

* {
  font-size: 13px;
  line-height: 1.3; }

h1, .h1 {
  font-size: 2rem; }

.alert {
  display: none; }

.main-body {
  margin-top: 10px; }

footer {
  margin-top: 20px;
  border-top: 2px solid #0083cb;
  background-color: #f2f5f9; }

footer .citation {
  border-top: 2px solid #3abef2; }
