{% load staticfiles i18n %}
{% load cms_tags sekizai_tags menu_tags %}
{% load notifications_tags %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Arividam{% endblock title %}</title>

    {% block css %}
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    {% if request.site.config.site_css %}
    <link href="{{ request.site.config.site_css.url }}" rel="stylesheet">
    {% endif %}
    {% endblock %}
    {% render_block "css" %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% cms_toolbar %}
      <div class="container-fluid">
        <div class="row">
            <div class="collapse navbar-collapse pull-right">
                <a class="glyph-home" href="/"><i class="glyphicon glyphicon-home"></i></a>
                <i class="glyphicon glyphicon-question-sign"></i>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                     {% if user.is_authenticated %}
                        {% trans "Logged in:" %} {{ request.user }}
                    {% else %}
                        {% trans "Sign Up / Log In" %} 
                    {% endif %}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                {% if user.is_staff %}
                {% if user|has_group:"Officer" %}
                    <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
        		{% endif %}
		        {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'postman:inbox' %}">Profile</a></li>
                    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li role="separator" class="divider"></li>
                {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                    {% endif %}
                    </ul> 
                    </li>
            </div>
        </div>
      <!-- layout header with navigation components -->
      <div class="row">
        <div class="page-header ar-header">

        <!-- Navigation component -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand ar-logo" href="http://{{ DEFAULT_SITE_URL }}"> 
              <img src="{% if request.site.config.banner_logo %}{{request.site.config.banner_logo.url}}{% else %}{% static 'images/logo.png' %}{% endif %}" class="media-object img-responsive">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
         
              <ul class="nav navbar-nav navbar-right">
                <li class="nav nav-item"><a class="nav-link" href="{% url 'list-schools' %}">വിദ്യാലയങ്ങള്‍</a></li>
                {% show_menu 0 0 100 100 "menu.html" %}
              </ul>

               
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        </div>
      </div>

        <!-- layout body -->
        <div class="row">
            <div class="row">
              {% static_placeholder "marquee" %}
            </div>

	      {% block content %}
	        <p>Use this document as a way to quick start any new project.</p>
      	{% endblock content %}
        </div>

            
        <footer>
        {% static_placeholder "footer" %}
         <div class="row">
         
         <div class="citation">
          <div class="col-md-4">
                <span class="h4">Arividam</span> &copy;2010-2016
                </div>
              <div class="col-md-4 pull-right">
                online educational portal email: info@arividam.in.
                </div>
             
         </div>
              <!-- Default panel contents -->

              <!-- Table -->
            
                   
             </div>
           </footer>  
    {% block modal %}{% endblock modal %}
        </div>
      </div>
    {% block javascript %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <!--<script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>-->
      <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

      <!-- Latest compiled and minified JavaScript -->
      <!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
    {% render_block "js" %}
  </body>
</html> 
