// project specific CSS goes here

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// This is a fix for the bootstrap4 alpha release

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }

}

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

.navbar-dark {
    background: linear-gradient(to bottom, #0083cb, #0269a3);
}

.navbar-dark .navbar-nav>li>a {
    color: white;
}

@font-face {
    font-family: "Meera";
    src: url('../fonts/Meera.ttf');
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,'Meera', sans-serif;
}

h1, .h1 {
    font-size: 2rem;
}

.alert {
    display: none;
}

.main-body {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #0083cb;
    background-color: #f2f5f9;
}

footer .citation {
    border-top: 2px solid #3abef2;
}
