{% extends 'base.html' %}

{% load cms_tags menu_tags staticfiles sekizai_tags %}

{% block content %}
<div class="col-md-4 col-xs-12">
<div class="panel">
 <div class="panel-heading">
    <h3 class="panel-title">വിദ്യാഭ്യാസ വാര്‍ത്തകള്‍</h3>
 </div>
<div class="panel-body">
    <ul class="list-group">
        {% for page in request.current_page.parent.children.all|dictsortreversed:"pk" %}
        <li class="list-group-item"><a href="{% page_url page.pk %}">{{ page }}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
</div>
<div class="col-md-offset-1 col-md-7 col-xs-12">
    {% if request.user.username|slice:":6" == "editor" %}
    <div class="row">
        <div class="col-md-3 pull-right">
            Promote: <button id="promote" type="button" class="btn"><span class="glyphicon glyphicon-star"></span></button>
        </div>
    </div>
    {% endif %}
    {% placeholder "content" %}
</div>

{% addtoblock "css" %}
<style>
#promote {
  font-size: 20px;
}
.promoted {
  color: yellow;
}
</style>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    $.ajax("/check_promoted/{{ request.current_page.id }}/").done(function(data) {
      if (data.promoted) {
        $("#promote span").addClass("promoted");
      } else {
        $("#promote").on('click', function(evt) {
            $.ajax("/promote_news/{{ request.current_page.id }}/").done(function(data) {
                $("#promote span").addClass("promoted");
            });
        });
      }
    });
});
</script>
{% endaddtoblock %}
{% endblock %}
