{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}
    <div class="col-md-12">
  	{% placeholder "hero" %}
    </div>

        <!-- Three column content start-->
        <div class="row">
        	<div class="col-md-4 col-sm-4">
        		<div class="content-wrap">
				{% placeholder "column1" %}
        		</div>
          
        	</div>

       		<div class="col-md-4 col-sm-4">
        		<div class="content-wrap">
				{% placeholder "column2" %}
        		</div>  
        	</div>

        	<div class="col-md-4 col-sm-4">
        		<div class="content-wrap">
				{% placeholder "column3" %}
        		</div>  
        	</div>
      </div>
{% endblock %}
