{% extends "base.html" %}
{% load cms_tags %}
 
  {% block content %}
<!-- layout body -->
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm-6"> 
         <div class="content-wrap">
	{% placeholder "column1" %}
        </div>

          
        </div>
        <div class="col-md-6 col-sm-6"> 
           <div class="content-wrap">
	{% placeholder "column2" %}
        </div>
          
        </div>        
        </div>

        <div class="row">
        <div class="col-md-4 col-sm-4"> 
         <div class="content-wrap">
	{% placeholder "column3" %}
        </div>

          
        </div>
        <div class="col-md-4 col-sm-4"> 
         <div class="content-wrap">
	{% placeholder "column4" %}
        </div>


          
        </div>  
        <div class="col-md-4 col-sm-4">
         <div class="content-wrap">
	{% placeholder "column5" %}
        </div>
        </div> 

        </div>

        </div>
      
{% endblock %}
