{% load sekizai_tags cms_tags %}
{% for page in news %}
<div class="row news-plugin">
    <div><a href="{% page_url page.id %}">
        {{ page.content }}
        </a>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="pull-xs-right"><a href="{% page_url 'news' %}">വിദ്യാഭ്യാസ വാര്‍ത്തകള്‍</a></div>
</div>
{% addtoblock "css" %}
<style>
.news-plugin {
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.news-plugin a,a:focus,a:hover {
    text-decoration: none;
    color: black;
}
</style>
{% endaddtoblock %}
