{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h3>Admin Menu</h3>
        <ul>
            <li><a href="{% url 'dashboard:notification' %}">Compose Notification</a></li>
            <li>Edit Calendar
                <ul>
                    {% for calendar in request.site.googlecalendars.all %}
                    <li><a target="_new" href="https://calendar.google.com/calendar/render?src={{ calendar.calendar_id|urlencode }}&ctz=Asia/Calcutta">{% if calendar.title %}{{ calendar.title }}{% else %}{{ calendar.calendar_id }}{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
            Post News - Click <a href="{% page_url 'news' %}">here.</a> <strong>then</strong> in the CMS toolbar click Page -> Add Page -> New Sub Page
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <a href="{% page_url "news" %}"><h3>News</h3></a>
        {% for item in news.children.all %}
        <div><a href="{% page_url item %}">{{ item }}</a></div>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <a href="{% url 'postman:inbox' %}"><h3>Inbox</h3></a>
        <ul>
        {% for message in messages %}
        <li><a href="{% url 'postman:view' message.id %}">{{ message }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
